[submodule "src/system/modules/SymfonyProcess/vendor/Symfony/Component/Process"]
	path = src/system/modules/SymfonyProcess/vendor/Symfony/Component/Process
	url = https://github.com/symfony/Process.git
